body {
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

section {
    margin-bottom: 20px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}
